<form method="POST" action="/api/token">
	<h1> Log in to recieve token </h1>
	{{ form.csrf_token }}
	<div>{{form.username.label}}:{{form.username()}}</div>
	<div>{{form.password.label}}:{{form.password()}}</div>
	<div>{{form.remember.label}}:{{form.remember()}}</div>
	<button type="submit">Login</button>
</form>