<form method="POST" action="/api/register">
	<h1> {{title}} </h1>
	{{form.csrf_token}}
	<div>{{form.username.label}}:{{form.username()}}</div>
	<div>{{form.password.label}}:{{form.password()}}</div>
	<button type="submit">Submit</button>
	{{userId}}
</form>